<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title><TMPL_VAR NAME=TITLE> - Searcher's Log</title>
   <meta name="author" content="Tan Menglong" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Customized CSS -->
   <link rel="stylesheet" href="/css/mystyle.css" type="text/css" media="screen, projection" />

   <!-- Org-mode CSS -->
   <link rel="stylesheet" href="/css/org-mode.css" type="text/css" />   

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/dup0dgc.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
   </style>
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Searcher's Log</a>
    <a class="extra" href="/">home</a>
  </div>
  
  <div id="post">
	<h1><TMPL_VAR NAME=TITLE></h1>
	<p class="meta"><TMPL_VAR NAME=DATE></p>
	<TMPL_VAR ESCAPE=0 NAME=CONTENT>

<!--
<div id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
      <li><span>03 May 2011</span> &raquo; <a href="/2011/05/03/rejected-bio-from-the-setup.html">Rejected Bio from The Setup</a></li>
      <li><span>29 Mar 2011</span> &raquo; <a href="/2011/03/29/ten-lessons-from-githubs-first-year.html">Ten Lessons from GitHub's First Year</a></li>
      <li><span>11 Dec 2010</span> &raquo; <a href="/2010/12/11/designer-architect-developer.html">Designer, Architect, Developer</a></li>
  </ul>
</div>	
-->


<div>&copy 2012 Tan Menglong</div> 

<!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
  <span class="bds_more">分享到：</span>
  <a class="bds_renren"></a>
  <a class="bds_douban"></a>
  <a class="bds_tsina"></a>
  <a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=374352" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
  document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?t=" + new Date().getHours();
</script>
<!-- Baidu Button END -->

<br/>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'crackcell'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

  <div class="footer">
    <div class="contact">
      <p>
        Tan Menglong<br />
        Search engine coder<br />
        tanmenglong@gmail.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://bitbucket.org/crackcell">bitbucket.org/crackcell</a><br />
        <a href="http://twitter.com/crackcell/">twitter.com/crackcell</a><br />
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/crackcell">
        <img src="/img/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

<!--
<a href="http://bitbucket.org/crackcell"><img style="position: absolute; top: 0; right: 0; border: 0;" src="img/fork_me_bitbucket.png" alt="Fork me on Bitbucket" /></a>
-->

<!-- Google Analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20076341-2']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- Google Analytics end -->

</body>
</html>
